/*
------------------------------- Table Of Content :: Components  ------------------------------------
1. Form Components
2. Login Container


------------------------------------------------------------------------------------------------------------
*/

@import "./utilities.scss";

/* ---------------------------------
1. Form Components
------------------------------------ */
.c-formGroup {
  margin-bottom: 6px;
  line-height: normal;
  @extend .block;
  @extend .relative;

  .form-control {
    border: 1px solid #cac9be;
    box-sizing: border-box;
    min-height: 37px;
    padding: 12px 10px 9px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $textColor;
    outline: none;
    @extend .relative;
    @extend .block;
    @include rounded-corners(4px);
    @include box-shadow(none);

    &::placeholder {
      color: lighten($textColor, 55%);
    }
  }

  &.search{
    .form-control {
      line-height: 18px;
      padding: 10px 10px 8px 40px;
      background-color: #f5f5f5;
      border-color: #e3e3e3;
      height: auto;
      position: relative;

        &:focus,
        &:active{
          border-color: $secondaryColor;
        }
    }
    &::before {
      font-family: "demandmatrix";
      content: "G";
      color: #f46120;
      font-size: 13px;
      line-height: 13px;
      position: absolute;
      left: 13px;
      top: 13px;
      z-index: 5;
  }
  }

  &.js-datepicker {
    .form-control {
      padding-right: 30px;
    }
    &::after {
      font-family: "demandmatrix";
      content: "\78";
      position: absolute;
      height: 15px;
      width: 15px;
      top: 10px;
      right: 9px;
      font-size: 14px;
      line-height: 18px;
      color: $textColor;
    }
  }

  &.st-password {
    .form-control {
      padding-right: 40px;
    }
    .showPass {
      cursor: pointer;
      border: 0;
      display: block;
      position: absolute;
      top: 9px;
      right: 10px;
      padding: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      outline: none;
      text-align: center;
      font-family: "demandmatrix";
      content: "";

      &::before {
        color: $textColor;
        font-size: 18px;
        content: "\62";
        @extend .relative;
        @extend .block;
      }
    }
  }
}

.c-checkGroup {
  min-height: 18px;
  @extend .relative;
  @extend .block;

  .form-check-input {
    z-index: 1;
    opacity: 0;
    position: relative;
    top: -5px;
    left: 3px;
    @extend .relative;

    &:checked {
      & ~ .form-check-label {
        .icon {
          &::after {
            content: "\64";
            color: $secondaryColor;
            left: 3px;
            top: 1px;
            font-size: 12px;
            line-height: 16px;
            @extend .absolute;
            @extend .block;
          }
        }
      }
    }
  }
  .form-check-label {
    cursor: pointer;
    color: $textColor;
    top: 0;
    left: 0;
    padding: 0;
    background-color: transparent;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 0.5px;
    @extend .absolute;
    @extend .block;

    .icon {
      color: #cac9be;
      height: 15px;
      width: 16px;
      background-color: $white;
      vertical-align: middle;
      font-style: normal;
      font-size: 21px;
      line-height: 18px;
      top: -2px;
      font-family: "demandmatrix";
      content: "";
      @extend .relative;
      @extend .inlineblock;
      @include rounded-corners(4px);

      &::before {
        content: "\61";
        content: "a";
        left: -2px;
        top: 1px;
        height: 16px;
        width: 16px;
        display: inline-block;
        @extend .relative;
      }
    }
  }
}

.c-btn {
  color: $white;
  background-color: $secondaryColor;
  padding: 12px 12px 11px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  outline: none;
  @extend .inlineblock;
  @extend .noborder;
  @extend .borderBx;
  @extend .t-center;

  &.gray {
    color: $textColor;
    background-color: #f6f6f3;
  }

  &.lg {
    @extend .block;
    @extend .w100;
  }
}
.c-link {
  background-color: transparent;
  border: 0;
  color: $secondaryColor;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  padding: 0;
  outline: none !important;
  @extend .inlineblock;
}
.btn-filter {
  background-color: $secondaryColor;
  box-sizing: border-box;
  border: 0;
  color: $white;
  height: 41px;
  padding: 12px 24px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
  outline: none !important;
  @extend .inlineblock;
  @extend .relative;
  @extend .t-center;
  @include rounded-corners(4px);

  .icon {
    color: $white;
    font-size: 16px;
    vertical-align: middle;
    line-height: 10px;
    top: -1px;
    @extend .inlineblock;
    @extend .relative;
  }
}

.c-bodyContainer {
  background: #0e2243 url("../images/bg-page.png") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------- Dropdown ---------------- */

.sb-dropdown {
  @extend .inlineblock;

  .btn {
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid #cac9be;
    color: $textColor;
    padding: 8px;
    line-height: 17px;
    height: 33px;
    font-size: 14px;

    .icon {
      color: $textColor;
      display: inline-block;
      vertical-align: middle;
      font-size: 11px;
      line-height: 9px;
      margin-right: 3px;
    }

    &::after {
      position: relative;
      top: 2px;
    }
  }
  .dropdown-menu {
    box-sizing: border-box;
    padding: 16px;
    width: 235px;

    .optionList {
      @extend .block;

      ul {
        padding: 0;
        @extend .block;

        li {
          margin-bottom: 5px;
          @extend .block;

          .c-checkGroup {
            .form-check-label {
              color: $textColor;
              font-size: 12px;
              line-height: 14px;
            }
            .icon {
              position: relative;
              top: -2px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .title {
      display: block;
      height: auto;
      overflow: hidden;
      margin-bottom: 17px;
      & > span {
        font-family: $font-semiBold;
        color: $textColor;
        font-size: 14px;
        line-height: 17px;
        float: left;
      }
      & > .reset {
        background-color: transparent;
        border: 0;
        color: $secondaryColor;
        font-size: 12px;
        line-height: 14px;
        float: right;
        outline: none;
        padding: 0;
      }
    }
  }

  &.xs {
    .dropdown-menu {
      min-width: 60px;
      box-sizing: border-box;
      width: 60px;
      padding: 0;

      .dropdown-item {
        padding: 10px;
        text-align: center;
      }
    }
  }
  &.lg {
    .dropdown-menu {
      left: -60px !important;
    }
  }

  &.st-fluid {
    @extend .block;

    .dropdown-menu {
      min-width: 250px;
      width: auto;
      padding: 0;
      .dropdown-item {
        text-align: left;
        padding: 6px 10px;
      }
    }

    .btn {
      color: $textColor;
      padding-right: 40px;
      font-size: 14px;
      line-height: 17px;
      @extend .relative;
      @extend .block;
      @extend .w100;
      @extend .t-left;

      &::after {
        position: absolute;
        right: 10px;
        top: 14px;
      }
    }
  }
}

.sb-toggleSwich {
  vertical-align: middle;
  height: 32px;
  margin-left: 5px;
  @extend .inlineblock;
  @extend .relative;
}

.staticText {
  font-size: 14px;
  line-height: 17px;
  @extend .block;
  @extend .relative;
}

/* ------------------------------
2. Login Container
-------------------------------- */

.loginLogo {
  margin-bottom: 48px;
  @extend .block;
  @extend .t-center;

  img {
    max-height: 40px;
    @extend .inlineblock;
  }
}
.c-loginBox {
  background-color: #e0dfd5;
  width: 371px;
  min-height: 383px;
  box-sizing: border-box;
  padding: 30px 36px;
  @extend .block;
  @extend .relative;
  @include rounded-corners(2px);

  .loginTitle {
    font-family: $font-semiBold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 10px;
    @extend .t-center;
    @extend .block;
    @extend .relative;
  }
  .loginSubTitle {
    color: rgba(48, 59, 80, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 40px;
    letter-spacing: 0.5px;
    @extend .t-center;
    @extend .block;
    @extend .relative;
  }

  .loginForm {
    @extend .block;
    @extend .relative;
  }
}

/* ------------------------------
2. Sidebar
-------------------------------- */
.c-sidebar {
  background-color: #192234;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  padding-bottom: 80px;

  .sidebarLogo {
    box-sizing: border-box;
    border-bottom: 1px solid #1c2c49;
    height: 80px;
    width: 80px;
    padding: 20px;
    @extend .block;

    img {
      height: 40px;
      width: 40px;
      @extend .block;
    }
  }

  .sidebarNav {
    display: block;
    height: auto;
    overflow: hidden;

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid #111c30;
        display: block;
        height: 80px;
        width: 80px;

        .navItem {
          background-color: transparent;
          cursor: pointer;
          display: block;
          border: 0;
          border-right: 4px solid transparent;
          height: 80px;
          width: 80px;
          text-align: center;
          padding: 27px;
          @include transition(all ease 0.3s);

          .icon {
            height: 26px;
            width: 26px;
            color: #8e96a5;
            display: inline-block;
            font-size: 25px;
            line-height: 37px;
            vertical-align: middle;
            @include transition(all ease 0.3s);
          }

          &:hover,
          &.st-active {
            border-right-color: $secondaryColor;
            background-color: #111c30;
            .icon {
              color: $white;
            }
          }
        }
        &.lastChild {
          border: 0;
          border-top: 1px solid #111c30;
          position: fixed;
          bottom: 0;
        }
      }
    }
  }
}

/* ------------------------------
3. Page Header
-------------------------------- */
.c-mainBody {
  margin-left: 80px;
  height: 100%;
  @extend .block;
  @extend .relative;
}
.c-header {
  background-color: $white;
  height: 73px;
  overflow: hidden;
  z-index: 4;
  padding-right: 19px;
  @extend .block;
  @extend .relative;
  @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));

  .titleSect {
    box-sizing: border-box;
    padding: 22px;
    line-height: 29px;
    @extend .block;
    @extend .left;

    .pageHeading {
      font-family: $font-semiBold;
      color: $textColor;
      font-size: 24px;
      line-height: 29px;
      margin: 0;
      @extend .block;
      @extend .relative;
    }
  }
  // .profileSect {
  //   box-sizing: border-box;
  //   height: 73px;
  //   padding: 20px;
  //   line-height: 33px;
  //   width: 200px;
  //   float: left;

  //   .profButton {
  //     background-color: transparent;
  //     box-sizing: border-box;
  //     border: 0;
  //     cursor: pointer;
  //     padding: 0 20px 0 0;
  //     text-align: right;
  //     height: 33px;
  //     outline: none;
  //     @extend .w100;
  //     @extend .block;
  //     @extend .relative;

  //     &::before {
  //       color: $textColor;
  //       font-family: "demandmatrix";
  //       content: "\69";
  //       top: -3px;
  //       right: 0;
  //       height: 33px;
  //       width: 16px;
  //       background-color: #d5d4c8;
  //       vertical-align: middle;
  //       padding: 3px 0;
  //       font-size: 10px;
  //       @extend .t-center;
  //       @extend .inlineblock;
  //       @extend .absolute;
  //       @include rounded-corners(2px);
  //     }

  //     .p-title {
  //       color: $textColor;
  //       font-family: $font-semiBold;
  //       font-size: 16px;
  //       line-height: 19px;
  //       @extend .block;
  //     }
  //     .p-subTitle {
  //       color: $textColor;
  //       font-size: 12px;
  //       line-height: 14px;
  //       letter-spacing: 0.3px;
  //       @extend .block;
  //     }
  //   }
  // }
  .filterSect {
    padding: 16px 0 16px 16px;
    @extend .right;
  }
  .linkSect {
    border-right: 1px solid #e3e3e3;
    margin-left: 16px;
    @extend .right;
    .linkTab {
      border: 0;
      background-color: $white;
      border-bottom: 5px solid transparent;
      color: $secondaryColor;
      cursor: pointer;
      padding: 29px 16px 23px 16px;
      font-size: 14px;
      line-height: 17px;
      outline: none !important;
      @extend .left;
      @extend .t-center;

      &.st-active {
        background-color: #ededed;
        border-bottom: 5px solid red;
        color: $textColor;
      }
    }
  }
}

/* ------------------------------
4. Search Body
-------------------------------- */
.c-searchBody {
  @extend .block;
  @extend .relative;

  .sb_header {
    background-color: $white;
    padding: 16px 14px;
    margin: 22px 22px 10px;
    @extend .block;
    @include rounded-corners(4px);
    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));

    .filterLabel {
      margin: 2px 0 1px;
      .label {
        color: rgba(48, 59, 80, 0.6);
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 2px;
        letter-spacing: 0.4px;
        @extend .block;
        @extend .relative;

        &.lg{
          color: $textColor;
          font-size: 18px;
          line-height: 22px;
          font-family: $font-semiBold;
        }
      }
      .info {
        color: $textColor;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.4px;
        @extend .block;
        @extend .relative;
        &.lg {
          font-family: $font-semiBold;
          font-size: 18px;
          line-height: 22px;
          text-transform: capitalize;
        }
        &.c-icon{
          color: rgba(48, 59, 80, 0.6);
          font-size: 12px;
          padding-left: 15px;
            &::before{
              font-family: "demandmatrix";
              content: "\65";
              position: absolute;
              top: 2px;
              left: 0;
              font-size: 12px;
              line-height: 11px;
              @extend .inlineblock;
            }
        }
      }
    }
  }

  .sb-searchTable {
    padding: 22px;
    @extend .block;
    @extend .relative;
  }

  .c-colFilter {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    @include transition(all ease 0.3s);
    @include box-shadow(0 16px 16px #5f5f5f);

    .filterFooter {
      border-top: 1px solid #e0dfd5;
      padding: 12px 22px;
    }
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    @include transition(all ease 0.3s);
  }

  &.js-filterOpen {
    &::before {
      height: 100vh;
    }
    .c-colFilter {
      max-height: 1000px;
    }
  }
}

/* ------------------------------
4. Table Container
-------------------------------- */
.sb-tableContainer {
  margin: 16px 0;
  @extend .block;

  .sb-table {
    &.st-clean {
      @extend .block;

      .table {
        border: 1px solid #e7e6df;

        tr {
          &:nth-child(odd) {
            background-color: #f0efea;
          }
          &:last-child {
            td {
              border-bottom: 0;
            }
          }
          th {
            color: $textColor;
            font-family: $font-semiBold;
            font-size: 14px;
            line-height: 17px;
            padding: 10px 16px 10px 8px;
            background-color: $white;
            vertical-align: top;
            border-bottom: 2px solid #e0dfd5;
            border-top: 0;
            border-right: 1px solid#EEEEE8;

            &:last-child {
              border-right: 0;
            }
            &.sorting,
            &.sorting_desc,
            &.sorting_asc {
              background-image: none;
              position: relative;

              &::before {
                font-family: "demandmatrix";
                content: "\73";
                position: absolute;
                top: 12px;
                right: 5px;
                color: $textColor;
                font-size: 12px;
                line-height: 12px;
              }
            }
            &.sorting_desc {
              &::before {
                content: "\75";
              }
            }
            &.sorting_asc {
              &::before {
                content: "\74";
              }
            }
          }
          td {
            border-right: 1px solid#E7E7DF;
            border-bottom: 1px solid#E7E7DF;
            border-top: 0;
            color: $textColor;
            font-size: 14px;
            line-height: 18px;
            padding: 8px;
            vertical-align: top;

            .c-tdInfo{
              display: block;
              @extend .ellipsis;

              &.c-notifyDot{
                box-sizing: border-box;
                padding-left: 15px;
                width: calc(100% - 20px);
                @extend .relative;

                &::before{
                  content: '';
                  top: 5px;
                  left: 0;
                  height: 8px;
                  width: 8px;
                  background-color: #999999;
                  @extend .absolute;
                  @extend .inlineblock;
                  @include rounded-corners(20px);
                }
                &.col-red::before{
                  background-color:#E80D0D;
                }
                &.col-grn::before{
                  background-color: #0F9F3F;
                }
              }
            }

            &:last-child {
              border-right: 0;
            }
          }
        }
      }
      .dataTables_info {
        color: rgba(48, 59, 80, 0.5);
        font-size: 12px;
        line-height: 14px;
        margin-top: 12px;
      }
      .dataTables_paginate {
        margin-top: 12px;

        .paginate_button {
          color: $textColor !important;
          box-sizing: border-box;
          height: 30px;
          width: 30px;
          background: none;
          border: 1px solid transparent;
          background-color: transparent;
          padding: 6px 8px;
          line-height: 18px;
          font-size: 14px;
          @extend .inlineblock;
          @extend .va-mid;
          @extend .t-center;
          @include rounded-corners(4px);

          .icon {
            font-size: 14px;
            line-height: 12px;
            @extend .inlineblock;
            @extend .va-mid;
          }
          &.current {
            background-color: $white;
            border-color: $secondaryColor;
          }
        }
      }
    }

    .dataTables_scrollBody {
      @extend .noborder;
      th {
        &::before {
          display: none;
        }
      }
    }
  }
}

/* ------------------------------
6. Filter Body
-------------------------------- */
.sb-filterBody {
  .filterLeft {
    border-right: 1px solid #e0dfd5;
    padding: 22px;
    @extend .relative;
  }
  .filterRight {
    background-color: #f6f6f3;
    margin-left: -1px;
    border-left: 1px solid #e0dfd5;
    padding: 0;
    border-radius: 0 0.3rem 0 0;
    @extend .relative;

    .titleBlock {
      padding: 22px 16px 0 16px;
    }
    .infoBlock {
      box-sizing: border-box;
      border-bottom: 1px solid #e0dfd5;
      padding: 11px 16px;
      min-height: 60px;

      &:last-child {
        border: 0;
      }

      .b_label {
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        top: 11px;
        @extend .relative;
        @extend .block;
        @extend .t-left;
      }

      .c-costomCheck{
        .b_label{
          top: 0;
        }
      }
    }
  }
  .f_title {
    color: $textColor;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 12px;
    @extend .block;
    @extend .bold;
  }
  .f_text {
    color: rgba(48, 59, 80, 0.7);
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 12px;
    @extend .block;
  }

  .c-filterTags{
    margin: 16px 0 30px;
    @extend .block;

      ul{
        @extend .pad0;
        @extend .m0;
        @extend .block;

          li{
            margin-right: 5px;
            @extend .inlineblock;

              .tagBtn{
                background-color: #EDEDED;
                color: $secondaryColor;
                padding: 8px 32px 8px 12px;
                font-size: 14px;
                font-family: $font-semiBold;
                line-height: 18px;
                margin-bottom: 10px;
                @extend .block;
                @extend .relative;
                @include rounded-corners(4px);

                  .btnDel{
                    cursor: pointer;
                    border: 0;
                    position: absolute;
                    top: 7px;
                    right: 2px;
                    height: 20px;
                    width: 20px;
                    background-color: transparent;
                    @extend .pad0;

                      &::before{
                        font-family: "demandmatrix";
                        content: "\46";
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 12px;
                        line-height: 13px;
                        color: rgba(48, 59, 80, 0.5);
                      }
                  }
              }
          }
      }
  }
}

.c-similatTabs{
  @extend .block;

  .tabTitle{
    color: #1C2C49;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    @extend .block;
  }

  ul{
    @extend .pad0;
    @extend .m0;
    @extend .block;

      li{
        margin-right: 5px;
        @extend .inlineblock;

          .tagBtn{
            cursor: pointer;
            border: 0;
            background-color: #EDEDED;
            color: $textColor;
            padding: 9px 12px 7px;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
            @extend .block;
            @extend .relative;
            @include rounded-corners(4px);
            @include transition(all ease 0.3s);

              &:hover{
                background-color: #D4D4D4;
              }
          }
      }
    }
}

.c-blankFilter{
  padding: 70px 0;
  text-align: center;

    .displayImage{
      background-color: $white;
      height: 100px;
      width: 100px;
      margin: 0 auto 20px;

      img{
        height: 100px;
        width: 100px;
      }
    }
    .displayText{
      color: $textColor;
      font-size: 14px;
      line-height: 18px;
      @extend .block;
    }
}

/* -- Modal -- */

.sb-modal {
  &.st-filter {
    .modal-dialog {
      max-width: calc(100% - 152px);
    }
  }

  /* -- Modal Footer -- */
  .modalFooter {
    border-top: 1px solid #e0dfd5;
    padding: 12px 22px;

    .filterLabel {
      .label {
        font-size: 12px;
        line-height: 14px;
        color: lighten($color: $textColor, $amount: 60%);
        @extend .block;
      }
      .info {
        font-size: 18px;
        line-height: 22px;
        color: $textColor;
        font-family: $font-semiBold;
        @extend .block;
      }
    }
  }

  &.st-custom{
    .modal-dialog{
      box-sizing: border-box;
      width: 300px;

        .modal-body{
          padding: 24px 16px;

            .card-body{
              background-color: $white;
              @extend .pad0;

                .cardTitle{
                  color: $textColor;
                  font-family: $font-semiBold;
                  font-size: 18px;
                  line-height: 22px;
                  margin-bottom: 16px;
                  @extend .block;
                }
            }
        }
    }
    .close{
      top: -15px;
      right: -5px;
      border: 0;
      height: 20px;
      width: 20px;
      outline: none;
      @extend .pad0;
      @extend .relative;

        &::before{
          font-family: "demandmatrix";
          content: "\46";
          color: $textColor;
          font-size: 20px;
          line-height: 20px;
        }
    }
  }
}

/* ------------------------------
8. Multi Select
-------------------------------- */
.sb-multiselect {
  .select2-container {
    @extend .block;
    @extend .w100;
    @extend .relative;

    &::before {
      font-family: "demandmatrix";
      content: "\75";
      position: absolute;
      top: 11px;
      right: 5px;
      font-size: 10px;
      line-height: 10px;
      color: $textColor;
      z-index: 3;
    }

    .select2-selection {
      box-sizing: border-box;
      border: 1px solid #cac9be;
      min-height: 38px;
      position: relative;

      &.select2-selection--single {
        .select2-selection__rendered {
          line-height: 36px;
        }
        .select2-selection__arrow {
          display: none;
        }
      }

      .select2-selection__choice {
        background-color: #e0dfd5;
        font-size: 13px;
        line-height: 16px;
        padding: 6px 5px 3px;
        @extend .inlineblock;
        @include rounded-corners(2px);

        .select2-selection__choice__remove {
          float: right;
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

/* ------------------------------
9. Toggle Switch
-------------------------------- */
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: -115px;
}
.can-toggle.sm
  input[type="checkbox"]:checked
  ~ label
  .can-toggle__switch:before {
  left: -95px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-align: center;
  background: $white;
}
.can-toggle label .can-toggle__switch {
  background: #cecdbf;
}
.can-toggle label .can-toggle__switch:before {
  color: $textColor;
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1),
    -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(104px, 0, 0);
  transform: translate3d(104px, 0, 0);
}
.can-toggle.sm
  input[type="checkbox"]:checked
  ~ label
  .can-toggle__switch:after {
  -webkit-transform: translate3d(80px, 0, 0);
  transform: translate3d(80px, 0, 0);
}
.can-toggle label .can-toggle__switch {
  height: 32px;
  display: inline-block;
  width: 210px;
  border-radius: 4px;
}
.can-toggle.sm label .can-toggle__switch {
  width: 160px;
}
.can-toggle label .can-toggle__switch:before {
  right: 0;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 11px 8px;
  letter-spacing: 0.4px;
}
.can-toggle label .can-toggle__switch:after {
  top: 3px;
  left: 3px;
  border-radius: 2px;
  line-height: 26px;
  font-size: 12px;
  padding: 0 10px;
  z-index: 2;
}

.c-pageLinks {
  background-color: #cccccc;
  padding: 30px;
  display: block;

  .heading {
    display: block;
    margin: 0 0 30px;
    color: $textColor;
    font-size: 18px;
  }
  .linkItem {
    color: $textColor;
    display: block;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/* ------------------------------
11. Collpse Section
-------------------------------- */
.sb-collpseSection {
  display: block;
  position: relative;
  @include box-shadow(0 0 4px #dcdcdc);
}
.sb-accordian {
  .card {
    @extend .noborder;
    border-bottom: 1px solid #ededed;
    @include rounded-corners(0);

    &:first-child {
      @include rounded-corners(4px 4px 0 0);
      .card-header {
        @include rounded-corners(4px 4px 0 0);
        .btn {
          @include rounded-corners(4px 4px 0 0);
        }
      }
    }

    .card-header {
      border: 0;
      position: relative;
      padding: 0;
      outline: none !important;

      .btn {
        background-color: $white;
        border: 0;
        box-sizing: border-box;
        color: $textColor;
        display: block;
        padding: 16px 30px 16px 16px;
        line-height: 18px;
        outline: none !important;
        font-size: 14px;
        font-family: $font-semiBold;
        text-decoration: none;
        @extend .w100;
        @extend .t-left;
        @extend .relative;

        &::after {
          font-family: "demandmatrix";
          content: "\43";
          position: absolute;
          top: 17px;
          right: 12px;
          height: 15px;
          font-size: 15px;
          width: 15px;
          line-height: 16px;
          display: inline-block;
        }
      }
    }
  }
}

/* ------------------------------
11. Graph Section
-------------------------------- */
.c-graphCard {
  background-color: $white;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 300px;
  padding: 16px;
  margin-bottom: 16px;
  @include rounded-corners(5px);
  @include box-shadow(0 0 4px rgba(0, 0, 0, 0.1));

  .gc_title {
    color: $textColor;
    font-family: $font-semiBold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 14px;
    display: block;
    position: relative;
  }
}

/* ------------------------------
15. Misclesinous
-------------------------------- */
.card-body {
  background-color: #ededed;
  padding: 16px;

  .staticText {
    color: $textColor;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    @extend .block;
  }
  .c_lbl {
    color: rgba(48, 59, 80, 0.6);
    display: block;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px;
  }
  .c_info {
    color: $textColor;
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
  .c_progress {
    display: block;
    position: relative;
    height: 5px;
    margin-top: 7px;
    @include rounded-corners(4px);

    .progress_base {
      background-color: #e80d0d;
      box-sizing: border-box;
      position: relative;
      height: 5px;
      width: 100%;
      @include rounded-corners(4px);

      .progress_track {
        border-right: 1px solid #fff;
        background-color: #0f9f3f;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 1px;
        @include rounded-corners(4px);
      }
    }
  }
}
// .c-notifyDot{
  // background-color: #999999;
  // margin-left: 2px;
  // height: 8px;
  // width: 8px;
  // @extend .relative;
  // @extend .inlineblock;
  // @include rounded-corners(20px);

    // &.col-red{
    //   background-color:#E80D0D;
    // }
    // &.col-grn{
    //   background-color: #0F9F3F;
    // }
// }

.tableHeading {
  color: $textColor;
  display: block;
  font-family: $font-semiBold;
  font-size: 16px;
  line-height: 19px;
  margin: 8px 0 6px;
}
.text-col {
  color: $secondaryColor;
  display: inline-block;
}

.sb-autoselect {
  @extend .block;

  .select2-container {
    outline: none !important;
    @extend .w100;

    .select2-selection {
      background-color: #f5f5f5;
      border-color: #e3e3e3;
      height: auto;
      position: relative;
      @include transition(ease all 0.3s);

      &::before {
        font-family: "demandmatrix";
        content: "\47";
        color: $secondaryColor;
        font-size: 13px;
        line-height: 13px;
        position: absolute;
        left: 13px;
        top: 13px;
      }

      .select2-selection__rendered {
        line-height: 17px;
        padding: 12px 10px 8px 40px;
      }
      .select2-selection__arrow {
        display: none;
      }
    }

    &.select2-container--open {
      .select2-selection {
        border-color: $secondaryColor;
      }
    }
  }
}
.select2-dropdown {
  .select2-search__field {
    outline: none !important;
  }
  .select2-results {
    .select2-results__options {
      .select2-results__option {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 17px;
      }
      .select2-results__option[aria-selected="true"] {
        background-color: $white;
      }
      .select2-results__option--highlighted {
        color: $textColor;
        background-color: #feeae2 !important;
      }
    }
  }
}
