/*
------------------------------- Table Of Content :: Components  ------------------------------------

1. Nav
2. Modal
3. Modal Flag
4. Modal Search
5. Offset Cart
6. Offset info bar
7. Offset side bar
8. preloader
9. social list

------------------------------------------------------------------------------------------------------------
*/
/* -------------------------------------
	Font Setting
------------------------------------- */
@font-face {
  font-family: "Metropolis-Regular";
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-Regular.eot");
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-Regular.woff") format("woff"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-Regular.woff2") format("woff2"), url("../fonts/metropolis/TrueType/Metropolis-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-SemiBold.eot");
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff") format("woff"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/metropolis/TrueType/Metropolis-SemiBold.ttf") format("truetype");
}
/* -------------------------------------
	Icon Font Setting
------------------------------------- */
@font-face {
  font-family: "demandmatrix";
  src: url("../fonts/demandmatrix.eot");
  src: url("../fonts/demandmatrix.eot?#iefix") format("embedded-opentype"), url("../fonts/demandmatrix.woff") format("woff"), url("../fonts/demandmatrix.ttf") format("truetype"), url("../fonts/demandmatrix.svg#demandmatrix") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "demandmatrix" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=dm-]:before,
[class*=" dm-"]:before {
  font-family: "demandmatrix" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dm-eye:before {
  content: "b";
}

.dm-eye-disabled:before {
  content: "c";
}

.dm-square-o:before {
  content: "a";
}

.dm-android-done:before {
  content: "d";
}

/* -------------------------------------
	Variables Setting
------------------------------------- */
/* -------------------------------------
	Theme default CSS
------------------------------------- */
a,
a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
  font-family: "Metropolis-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: baseline;
  color: #303B50;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------
				Utilities and setting variables
	---------------------------------------------------- */
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.nofloat {
  float: none;
}

.absolute {
  position: absolute;
}

.relative, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle, .c-loginBox {
  position: relative;
}

.noborder {
  border: 0 none;
}

.hide {
  display: none;
}

.novis {
  visibility: hidden;
}

.block, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle, .c-loginBox {
  display: block;
}

.inlineblock {
  display: inline-block;
}

.inline {
  display: inline;
}

.display-table {
  display: table;
}

.t-center, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.bold {
  font-family: "Metropolis-SemiBold", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.valign-middle {
  vertical-align: middle;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.c-bodyContainer {
  background: #0e2243 url("../images/bg-page.png") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-loginBox {
  background-color: #e0dfd5;
  width: 371px;
  min-height: 383px;
  box-sizing: border-box;
  padding: 30px 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.c-loginBox .loginTitle {
  font-family: "Metropolis-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 10px;
}
.c-loginBox .loginSubTitle {
  color: #303B50;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 40px;
}

.login-button {
  background-color: #f46120;
  color: white !important;
}

.margin-bottom6 {
  margin-bottom: 6px;
}

.padding-bottom40 {
  padding-bottom: 40px;
}

.margin-bottom34 {
  margin-bottom: 34px;
}

/*# sourceMappingURL=demandmatrix-style.css.map */
