/*
------------------------------- Table Of Content :: Components  ------------------------------------
1. Form Components
2. Login Container


------------------------------------------------------------------------------------------------------------
*/
/* -------------------------------------
	Font Setting
------------------------------------- */
@font-face {
  font-family: "Metropolis-Regular";
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-Regular.eot");
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-Regular.woff") format("woff"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-Regular.woff2") format("woff2"), url("../fonts/metropolis/TrueType/Metropolis-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-SemiBold.eot");
  src: url("../fonts/metropolis/Webfonts/EOT/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff") format("woff"), url("../fonts/metropolis/Webfonts/WOFF2/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/metropolis/TrueType/Metropolis-SemiBold.ttf") format("truetype");
}
/* -------------------------------------
	Icon Font Setting
------------------------------------- */
@font-face {
  font-family: "demandmatrix";
  src: url("../fonts/demandmatrix.eot");
  src: url("../fonts/demandmatrix.eot?#iefix") format("embedded-opentype"), url("../fonts/demandmatrix.woff") format("woff"), url("../fonts/demandmatrix.ttf") format("truetype"), url("../fonts/demandmatrix.svg#demandmatrix") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "demandmatrix" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=dm-]:before,
[class*=" dm-"]:before {
  font-family: "demandmatrix" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dm-eye:before {
  content: "b";
}

.dm-eye-disabled:before {
  content: "c";
}

.dm-square-o:before {
  content: "a";
}

.dm-android-done:before {
  content: "d";
}

.dm-caret-down:before {
  content: "i";
}

.dm-caret-left:before {
  content: "j";
}

.dm-caret-right:before {
  content: "k";
}

.dm-caret-up:before {
  content: "l";
}

.dm-filter:before {
  content: "e";
}

.dm-icon-adoption:before {
  content: "f";
}

.dm-icon-aut:before {
  content: "g";
}

.dm-icon-dashboard:before {
  content: "h";
}

.dm-icon-ntp:before {
  content: "m";
}

.dm-icon-technology:before {
  content: "n";
}

.dm-icon-trending:before {
  content: "o";
}

.dm-spreadsheet:before {
  content: "p";
}

.dm-angle-left:before {
  content: "q";
}

.dm-angle-right:before {
  content: "r";
}

.dm-sort:before {
  content: "s";
}

.dm-sort-asc:before {
  content: "t";
}

.dm-sort-desc:before {
  content: "u";
}

.dm-angle-double-left:before {
  content: "v";
}

.dm-angle-double-right:before {
  content: "w";
}

.dm-calendar:before {
  content: "x";
}

.dm-arrow-up-c:before {
  content: "y";
}

.dm-arrow-down-c:before {
  content: "z";
}

.dm-directions:before {
  content: "A";
}

.dm-minus:before {
  content: "B";
}

/* -------------------------------------
	Variables Setting
------------------------------------- */
/* -------------------------------------
	Theme default CSS
------------------------------------- */
a,
a:hover {
  text-decoration: none;
}

body,
html {
  background-color: #f7f6f4;
  height: 100%;
  font-family: "Metropolis-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: baseline;
  color: #303b50;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------
				Utilities and setting variables
	---------------------------------------------------- */
.clear {
  clear: both;
}

.left, .c-header .titleSect {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.nofloat {
  float: none;
}

.absolute, .c-header .profileSect .profButton::before, .c-checkGroup .form-check-label, .c-checkGroup .form-check-input:checked ~ .form-check-label .icon::after {
  position: absolute;
}

.relative, .sb-multiselect .select2-container, .sb-filterBody .filterRight .infoBlock .b_label, .sb-filterBody .filterRight, .sb-filterBody .filterLeft, .c-searchBody .sb-searchTable, .c-searchBody .sb_header .btn-filter .icon, .c-searchBody .sb_header .btn-filter, .c-searchBody .sb_header .filterLabel .label, .c-searchBody, .c-header .profileSect .profButton, .c-header .titleSect .pageHeading, .c-header, .c-mainBody, .c-loginBox .loginForm, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle, .c-loginBox, .staticText, .sb-toggleSwich, .sb-dropdown.st-fluid .btn, .c-checkGroup .form-check-label .icon::before, .c-checkGroup .form-check-label .icon, .c-checkGroup .form-check-input, .c-checkGroup, .c-formGroup.st-password .showPass::before, .c-formGroup .form-control, .c-formGroup {
  position: relative;
}

.noborder, .sb-tableContainer .sb-table .dataTables_scrollBody, .c-btn {
  border: 0 none;
}

.borderBx, .c-btn {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.novis {
  visibility: hidden;
}

.block, .sb-multiselect .select2-container, .sb-modal .modalFooter .filterLabel .info, .sb-modal .modalFooter .filterLabel .label, .sb-filterBody .f_text, .sb-filterBody .f_title, .sb-filterBody .filterRight .infoBlock .b_label, .sb-tableContainer .sb-table.st-clean, .sb-tableContainer, .c-searchBody .sb-searchTable, .c-searchBody .sb_header .filterLabel .info, .c-searchBody .sb_header .filterLabel .label, .c-searchBody .sb_header, .c-searchBody, .c-header .profileSect .profButton .p-subTitle, .c-header .profileSect .profButton .p-title, .c-header .profileSect .profButton, .c-header .titleSect .pageHeading, .c-header .titleSect, .c-header, .c-mainBody, .c-sidebar .sidebarLogo img, .c-sidebar .sidebarLogo, .c-loginBox .loginForm, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle, .c-loginBox, .loginLogo, .staticText, .sb-dropdown.st-fluid .btn, .sb-dropdown.st-fluid, .sb-dropdown .dropdown-menu .optionList ul li, .sb-dropdown .dropdown-menu .optionList ul, .sb-dropdown .dropdown-menu .optionList, .c-btn.lg, .c-checkGroup .form-check-label, .c-checkGroup .form-check-input:checked ~ .form-check-label .icon::after, .c-checkGroup, .c-formGroup.st-password .showPass::before, .c-formGroup .form-control, .c-formGroup {
  display: block;
}

.inlineblock, .sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button .icon, .sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button, .c-searchBody .sb_header .btn-filter .icon, .c-searchBody .sb_header .btn-filter, .c-header .profileSect .profButton::before, .loginLogo img, .sb-toggleSwich, .sb-dropdown, .c-link, .c-btn, .c-checkGroup .form-check-label .icon {
  display: inline-block;
}

.inline {
  display: inline;
}

.display-table {
  display: table;
}

.t-center, .sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button, .c-searchBody .sb_header .btn-filter, .c-header .profileSect .profButton::before, .c-loginBox .loginSubTitle, .c-loginBox .loginTitle, .loginLogo, .c-btn {
  text-align: center;
}

.t-left, .sb-filterBody .filterRight .infoBlock .b_label, .sb-dropdown.st-fluid .btn {
  text-align: left;
}

.t-right {
  text-align: right;
}

.bold, .sb-filterBody .f_title {
  font-family: "Metropolis-SemiBold", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.va-mid, .sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button .icon, .sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button {
  vertical-align: middle;
}

.h100 {
  height: 100%;
}

.w100, .sb-multiselect .select2-container, .c-header .profileSect .profButton, .sb-dropdown.st-fluid .btn, .c-btn.lg {
  width: 100% !important;
}

.m15-btm {
  margin-bottom: 15px !important;
}

.m25-btm {
  margin-bottom: 25px !important;
}

.m30-btm {
  margin-bottom: 30px !important;
}

.m5-left {
  margin-left: 5px;
}

.pad0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

/* ---------------------------------
1. Form Components
------------------------------------ */
.c-formGroup {
  margin-bottom: 6px;
  line-height: normal;
}
.c-formGroup .form-control {
  border: 1px solid #cac9be;
  box-sizing: border-box;
  min-height: 37px;
  padding: 12px 10px 9px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #303b50;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.c-formGroup .form-control::placeholder {
  color: #c0c8d9;
}
.c-formGroup.js-datepicker .form-control {
  padding-right: 30px;
}
.c-formGroup.js-datepicker::after {
  font-family: "demandmatrix";
  content: "x";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 10px;
  right: 9px;
  font-size: 14px;
  line-height: 18px;
  color: #303b50;
}
.c-formGroup.st-password .form-control {
  padding-right: 40px;
}
.c-formGroup.st-password .showPass {
  cursor: pointer;
  border: 0;
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  outline: none;
  text-align: center;
  font-family: "demandmatrix";
  content: "";
}
.c-formGroup.st-password .showPass::before {
  color: #303b50;
  font-size: 18px;
  content: "b";
}

.c-checkGroup {
  min-height: 18px;
}
.c-checkGroup .form-check-input {
  z-index: 1;
  opacity: 0;
  position: relative;
  top: -5px;
  left: 3px;
}
.c-checkGroup .form-check-input:checked ~ .form-check-label .icon::after {
  content: "d";
  color: #f46120;
  left: 3px;
  top: 1px;
  font-size: 12px;
  line-height: 16px;
}
.c-checkGroup .form-check-label {
  cursor: pointer;
  color: #303b50;
  top: 0;
  left: 0;
  padding: 0;
  background-color: transparent;
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.c-checkGroup .form-check-label .icon {
  color: #cac9be;
  height: 15px;
  width: 16px;
  background-color: #ffffff;
  vertical-align: middle;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "demandmatrix";
  content: "";
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.c-checkGroup .form-check-label .icon::before {
  content: "a";
  content: "a";
  left: -2px;
  top: 1px;
  height: 16px;
  width: 16px;
  display: inline-block;
}

.c-btn {
  color: #ffffff;
  background-color: #f46120;
  padding: 12px 12px 11px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  outline: none;
}
.c-btn.gray {
  color: #303b50;
  background-color: #F6F6F3;
}
.c-link {
  background-color: transparent;
  border: 0;
  color: #f46120;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  padding: 0;
  outline: none;
}

.c-bodyContainer {
  background: #0e2243 url("../images/bg-page.png") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------- Dropdown ---------------- */
.sb-dropdown .btn {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cac9be;
  color: #303b50;
  padding: 8px;
  line-height: 17px;
  height: 33px;
  font-size: 14px;
}
.sb-dropdown .btn .icon {
  color: #303b50;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  line-height: 9px;
  margin-right: 3px;
}
.sb-dropdown .btn::after {
  position: relative;
  top: 2px;
}
.sb-dropdown .dropdown-menu {
  box-sizing: border-box;
  padding: 16px;
  width: 235px;
}
.sb-dropdown .dropdown-menu .optionList ul {
  padding: 0;
}
.sb-dropdown .dropdown-menu .optionList ul li {
  margin-bottom: 5px;
}
.sb-dropdown .dropdown-menu .optionList ul li .c-checkGroup .form-check-label {
  color: #303b50;
  font-size: 12px;
  line-height: 14px;
}
.sb-dropdown .dropdown-menu .optionList ul li .c-checkGroup .icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.sb-dropdown .dropdown-menu .title {
  display: block;
  height: auto;
  overflow: hidden;
  margin-bottom: 17px;
}
.sb-dropdown .dropdown-menu .title > span {
  font-family: "Metropolis-SemiBold", sans-serif;
  color: #303b50;
  font-size: 14px;
  line-height: 17px;
  float: left;
}
.sb-dropdown .dropdown-menu .title > .reset {
  background-color: transparent;
  border: 0;
  color: #f46120;
  font-size: 12px;
  line-height: 14px;
  float: right;
  outline: none;
  padding: 0;
}
.sb-dropdown.xs .dropdown-menu {
  min-width: 60px;
  box-sizing: border-box;
  width: 60px;
  padding: 0;
}
.sb-dropdown.xs .dropdown-menu .dropdown-item {
  padding: 10px;
  text-align: center;
}
.sb-dropdown.lg .dropdown-menu {
  left: -60px !important;
}
.sb-dropdown.st-fluid .dropdown-menu {
  min-width: 250px;
  width: auto;
  padding: 0;
}
.sb-dropdown.st-fluid .dropdown-menu .dropdown-item {
  text-align: left;
  padding: 6px 10px;
}
.sb-dropdown.st-fluid .btn {
  color: #303b50;
  padding-right: 40px;
  font-size: 14px;
  line-height: 17px;
}
.sb-dropdown.st-fluid .btn::after {
  position: absolute;
  right: 10px;
  top: 14px;
}

.sb-toggleSwich {
  vertical-align: middle;
  height: 32px;
  margin-left: 5px;
}

.staticText {
  font-size: 14px;
  line-height: 17px;
}

/* ------------------------------
2. Login Container
-------------------------------- */
.loginLogo {
  margin-bottom: 48px;
}
.loginLogo img {
  max-height: 40px;
}

.c-loginBox {
  background-color: #e0dfd5;
  width: 371px;
  min-height: 383px;
  box-sizing: border-box;
  padding: 30px 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.c-loginBox .loginTitle {
  font-family: "Metropolis-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 10px;
}
.c-loginBox .loginSubTitle {
  color: rgba(48, 59, 80, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 40px;
  letter-spacing: 0.5px;
}
/* ------------------------------
2. Sidebar
-------------------------------- */
.c-sidebar {
  background-color: #192234;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
}
.c-sidebar .sidebarLogo {
  box-sizing: border-box;
  border-bottom: 1px solid #1c2c49;
  height: 80px;
  width: 80px;
  padding: 20px;
}
.c-sidebar .sidebarLogo img {
  height: 40px;
  width: 40px;
}
.c-sidebar .sidebarNav {
  display: block;
  height: auto;
  overflow: hidden;
}
.c-sidebar .sidebarNav ul {
  display: block;
  margin: 0;
  padding: 0;
}
.c-sidebar .sidebarNav ul li {
  border-bottom: 1px solid #111c30;
  display: block;
  height: 80px;
  width: 80px;
}
.c-sidebar .sidebarNav ul li .navItem {
  background-color: transparent;
  cursor: pointer;
  display: block;
  border: 0;
  border-right: 4px solid transparent;
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 27px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.c-sidebar .sidebarNav ul li .navItem .icon {
  height: 26px;
  width: 26px;
  color: #8e96a5;
  display: inline-block;
  font-size: 25px;
  line-height: 37px;
  vertical-align: middle;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.c-sidebar .sidebarNav ul li .navItem:hover, .c-sidebar .sidebarNav ul li .navItem.st-active {
  border-right-color: #f46120;
  background-color: #111c30;
}
.c-sidebar .sidebarNav ul li .navItem:hover .icon, .c-sidebar .sidebarNav ul li .navItem.st-active .icon {
  color: #ffffff;
}

/* ------------------------------
3. Page Header
-------------------------------- */
.c-mainBody {
  margin-left: 80px;
  height: 100%;
}

.c-header {
  background-color: #e0dfd5;
  height: 73px;
  height: auto;
  overflow: hidden;
}
.c-header .titleSect {
  border-right: 1px solid #cac9be;
  box-sizing: border-box;
  padding: 22px;
  line-height: 29px;
  width: calc(100% - 200px);
}
.c-header .titleSect .pageHeading {
  font-family: "Metropolis-SemiBold", sans-serif;
  color: #303b50;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.c-header .profileSect {
  box-sizing: border-box;
  height: 73px;
  padding: 20px;
  line-height: 33px;
  width: 200px;
  float: left;
}
.c-header .profileSect .profButton {
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  padding: 0 20px 0 0;
  text-align: right;
  height: 33px;
  outline: none;
}
.c-header .profileSect .profButton::before {
  color: #303b50;
  font-family: "demandmatrix";
  content: "i";
  top: -3px;
  right: 0;
  height: 33px;
  width: 16px;
  background-color: #d5d4c8;
  vertical-align: middle;
  padding: 3px 0;
  font-size: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.c-header .profileSect .profButton .p-title {
  color: #303b50;
  font-family: "Metropolis-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.c-header .profileSect .profButton .p-subTitle {
  color: #303b50;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.3px;
}

/* ------------------------------
4. Search Body
-------------------------------- */
.c-searchBody .sb_header {
  border-bottom: 1px solid #e0dfd5;
  background-color: #ffffff;
  padding: 12px 22px;
}
.c-searchBody .sb_header .filterLabel {
  margin: 2px 0 1px;
}
.c-searchBody .sb_header .filterLabel .label {
  color: rgba(48, 59, 80, 0.6);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
  letter-spacing: 0.4px;
}
.c-searchBody .sb_header .filterLabel .info {
  color: #303b50;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
}
.c-searchBody .sb_header .filterLabel .info.lg {
  font-family: "Metropolis-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.c-searchBody .sb_header .btn-filter {
  background-color: #e0dfd5;
  box-sizing: border-box;
  border: 0;
  color: #303b50;
  height: 41px;
  padding: 12px 24px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.c-searchBody .sb_header .btn-filter .icon {
  color: #f46120;
  font-size: 16px;
  vertical-align: middle;
  line-height: 10px;
  top: -1px;
}
.c-searchBody .sb-searchTable {
  padding: 22px;
}
.c-searchBody .c-colFilter {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  box-shadow: 0 16px 16px #5f5f5f;
  -moz-box-shadow: 0 16px 16px #5f5f5f;
  -webkit-box-shadow: 0 16px 16px #5f5f5f;
  -ms-box-shadow: 0 16px 16px #5f5f5f;
  -o-box-shadow: 0 16px 16px #5f5f5f;
}
.c-searchBody .c-colFilter .filterFooter {
  border-top: 1px solid #E0DFD5;
  padding: 12px 22px;
}
.c-searchBody::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: 3;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.c-searchBody.js-filterOpen::before {
  height: 100vh;
}
.c-searchBody.js-filterOpen .c-colFilter {
  max-height: 1000px;
}

/* ------------------------------
4. Table Container
-------------------------------- */
.sb-tableContainer {
  margin: 16px 0;
}
.sb-tableContainer .sb-table.st-clean .table {
  border: 1px solid #e7e6df;
}
.sb-tableContainer .sb-table.st-clean .table tr:nth-child(odd) {
  background-color: #f0efea;
}
.sb-tableContainer .sb-table.st-clean .table tr:last-child td {
  border-bottom: 0;
}
.sb-tableContainer .sb-table.st-clean .table tr th {
  color: #303b50;
  font-family: "Metropolis-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px 10px 8px;
  background-color: #ffffff;
  vertical-align: top;
  border-bottom: 2px solid #e0dfd5;
  border-top: 0;
  border-right: 1px solid #EEEEE8;
}
.sb-tableContainer .sb-table.st-clean .table tr th:last-child {
  border-right: 0;
}
.sb-tableContainer .sb-table.st-clean .table tr th.sorting, .sb-tableContainer .sb-table.st-clean .table tr th.sorting_desc, .sb-tableContainer .sb-table.st-clean .table tr th.sorting_asc {
  background-image: none;
  position: relative;
}
.sb-tableContainer .sb-table.st-clean .table tr th.sorting::before, .sb-tableContainer .sb-table.st-clean .table tr th.sorting_desc::before, .sb-tableContainer .sb-table.st-clean .table tr th.sorting_asc::before {
  font-family: "demandmatrix";
  content: "s";
  position: absolute;
  top: 12px;
  right: 5px;
  color: #303b50;
  font-size: 12px;
  line-height: 12px;
}
.sb-tableContainer .sb-table.st-clean .table tr th.sorting_desc::before {
  content: "u";
}
.sb-tableContainer .sb-table.st-clean .table tr th.sorting_asc::before {
  content: "t";
}
.sb-tableContainer .sb-table.st-clean .table tr td {
  border-right: 1px solid #E7E7DF;
  border-bottom: 1px solid #E7E7DF;
  border-top: 0;
  color: #303b50;
  font-size: 14px;
  line-height: 18px;
  padding: 8px;
  vertical-align: top;
}
.sb-tableContainer .sb-table.st-clean .table tr td:last-child {
  border-right: 0;
}
.sb-tableContainer .sb-table.st-clean .dataTables_info {
  color: rgba(48, 59, 80, 0.5);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
}
.sb-tableContainer .sb-table.st-clean .dataTables_paginate {
  margin-top: 12px;
}
.sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button {
  color: #303b50 !important;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background: none;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 6px 8px;
  line-height: 18px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button .icon {
  font-size: 14px;
  line-height: 12px;
}
.sb-tableContainer .sb-table.st-clean .dataTables_paginate .paginate_button.current {
  background-color: #ffffff;
  border-color: #f46120;
}
.sb-tableContainer .sb-table .dataTables_scrollBody th::before {
  display: none;
}

/* ------------------------------
6. Filter Body
-------------------------------- */
.sb-filterBody .filterLeft {
  border-right: 1px solid #e0dfd5;
  padding: 22px;
}
.sb-filterBody .filterRight {
  background-color: #f6f6f3;
  margin-left: -1px;
  border-left: 1px solid #e0dfd5;
  padding: 0;
  border-radius: 0 0.3rem 0 0;
}
.sb-filterBody .filterRight .titleBlock {
  padding: 22px 16px 0 16px;
}
.sb-filterBody .filterRight .infoBlock {
  box-sizing: border-box;
  border-bottom: 1px solid #e0dfd5;
  padding: 11px 16px;
  min-height: 60px;
}
.sb-filterBody .filterRight .infoBlock:last-child {
  border: 0;
}
.sb-filterBody .filterRight .infoBlock .b_label {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  top: 11px;
}
.sb-filterBody .f_title {
  color: #303b50;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 12px;
}
.sb-filterBody .f_text {
  color: rgba(48, 59, 80, 0.7);
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 12px;
}

.sb-modal {
  /* -- Modal Footer -- */
}
.sb-modal.st-filter .modal-dialog {
  max-width: calc(100% - 152px);
}
.sb-modal .modalFooter {
  border-top: 1px solid #E0DFD5;
  padding: 12px 22px;
}
.sb-modal .modalFooter .filterLabel .label {
  font-size: 12px;
  line-height: 14px;
  color: #d0d6e3;
}
.sb-modal .modalFooter .filterLabel .info {
  font-size: 18px;
  line-height: 22px;
  color: #303b50;
  font-family: "Metropolis-SemiBold", sans-serif;
}

/* ------------------------------
8. Multi Select
-------------------------------- */
.sb-multiselect .select2-container::before {
  font-family: "demandmatrix";
  content: "u";
  position: absolute;
  top: 11px;
  right: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #303b50;
  z-index: 3;
}
.sb-multiselect .select2-container .select2-selection {
  box-sizing: border-box;
  border: 1px solid #cac9be;
  height: 38px;
  position: relative;
}
.sb-multiselect .select2-container .select2-selection.select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.sb-multiselect .select2-container .select2-selection.select2-selection--single .select2-selection__arrow {
  display: none;
}
.sb-multiselect .select2-container .select2-selection .select2-selection__choice {
  background-color: #E0DFD5;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 5px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sb-multiselect .select2-container .select2-selection .select2-selection__choice .select2-selection__choice__remove {
  float: right;
  margin: 0 0 0 5px;
}

/* ------------------------------
9. Toggle Switch
-------------------------------- */
.can-toggle input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: -115px;
}

.can-toggle.sm input[type=checkbox]:checked ~ label .can-toggle__switch:before {
  left: -95px;
}

.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}

.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-align: center;
}

.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-align: center;
  background: #ffffff;
}

.can-toggle label .can-toggle__switch {
  background: #cecdbf;
}

.can-toggle label .can-toggle__switch:before {
  color: #303b50;
}

.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.can-toggle input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(104px, 0, 0);
  transform: translate3d(104px, 0, 0);
}

.can-toggle.sm input[type=checkbox]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(80px, 0, 0);
  transform: translate3d(80px, 0, 0);
}

.can-toggle label .can-toggle__switch {
  height: 32px;
  display: inline-block;
  width: 210px;
  border-radius: 4px;
}

.can-toggle.sm label .can-toggle__switch {
  width: 160px;
}

.can-toggle label .can-toggle__switch:before {
  right: 0;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 11px 8px;
  letter-spacing: 0.4px;
}

.can-toggle label .can-toggle__switch:after {
  top: 3px;
  left: 3px;
  border-radius: 2px;
  line-height: 26px;
  font-size: 12px;
  padding: 0 10px;
  z-index: 2;
}

.c-pageLinks {
  background-color: #cccccc;
  padding: 30px;
  display: block;
}
.c-pageLinks .heading {
  display: block;
  margin: 0 0 30px;
  color: #303b50;
  font-size: 18px;
}
.c-pageLinks .linkItem {
  color: #303b50;
  display: block;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=demandmatrix-style.css.map */
